h1{
    color: green;
    font-family: Arial, sans-serif;
}

.bio{
    font-style: italic;
}
img{
    width: 300px;
}
h2{
    color: blueviolet;
}

blockquote{
  
    color: red;
    font-style: italic;
}

a{
    text-decoration: none;
}